/*reset*/
html{color:#444;font-size:62.5%;}
body{font-size:1.2rem;font-family:verdana;line-height:1.8em;font-family:Microsoft YaHei,Tahoma,Arial;background:#FFFFFF;}
html,body{height:100%;position: relative;}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd,pre{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var, b, i{font-style:normal;font-weight:normal;}
li{list-style-image:none;list-style-position: outside;list-style-type:none;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;vertical-align:baseline;zoom:1;}
input, textarea, select, button{font-size: 1.2rem;font-weight:inherit; vertical-align:middle;outline:none;}
input[type=radio], input[type=checkbox]{vertical-align: middle; margin-right:5px;}
textarea{resize:none;}
input[type=text],input[type=password],textarea, input[type=text]:focus, input[type=password]:focus, textarea:focus, button, button:focus{-webkit-appearance:none;outline:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/*base*/
a{text-decoration:none; color:#333;}
a:focus{outline-style:none;outline-width:0;}
a:link, a:visited, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
.underline{text-decoration:underline!important;}
.bold{font-weight:bold;}
.floatleft{float:left!important;}
.floatright{float:right!important;}
.aligncenter{text-align:center;}
.alignright{text-align:right;}
.alignleft{text-align:left;}
.forcewrap{word-wrap:break-word;word-break:break-all;text-overflow:hidden;overflow:hidden;}
.borderless{border: none;}
label.checkbox,label.radio,label.text{padding-left:4px;vertical-align:top;}
.breakword{word-wrap:break-word;}
/*margin*/
.nomar{margin:0!important;}
.mar-auto{margin:0 auto!important;}
.nomar-t{margin-top:0!important}
.nomarl{margin-left:0!important;}
.nomarr{margin-right:0!important;}
.mart5{margin-top:5px!important;}
.mart10{margin-top:10px!important;}
.mart15{margin-top:15px!important;}
.mart20{margin-top:2.0rem!important;}
.mart25{margin-top:2.5rem!important;}
.mart30{margin-top:30px!important;}
.mart40{margin-top:40px!important;}
.mart50{margin-top:50px!important;}
.mart70{margin-top:70px!important;}
.mart80{margin-top:80px!important;}
.marl10{margin-left:10px!important;}
.marr10{margin-right:10px!important;}
.marr15{margin-right:15px!important;}
.marr20{margin-right:20px!important;}
.marr35{margin-right:35px!important;}
.marl5{margin-left:5px!important;}
.marl15{margin-left:15px!important;}
.marl20{margin-left:20px!important;}
.marl30{margin-left:30px!important;}
.color-black{color:#000;}
.color-white{color:#fff!important;}
.floatleft{float: left;}
.floatright{float: right;}
/*padding*/
.nopadding{padding:0!important;}
.p-top5{padding-top:5px!important;}
.p-top10{padding-top:10px!important;}
.p-top20{padding-top:20px!important;}
.p-top30{padding-top:30px!important;}
.p-top40{padding-top:40px!important;}
.p-top50{padding-top:50px!important;}
.p-top80{padding-top:80px!important;}
.p-bt10{padding-bottom:10px!important;}
.p-bt20{padding-bottom:20px!important;}
/*font-size*/
.font9{font-size:9px!important;}
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font15{font-size:15px!important;}
.font16{font-size:16px!important;}
.font17{font-size:17px!important;}
.font18{font-size:14px!important;}
.font20{font-size:20px!important;}
.font25{font-size:25px!important;}
.font30{font-size:30px!important;}
.font35{font-size:35px!important;}
.font90{font-size:90px!important;}
.l_th{text-decoration:line-through!important;}
.txt_hidden{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}
.block{display: block;}
.goon{cursor: pointer;}
.more{color:#59a7f9;padding:5px 0;font-size:1.4rem;}
.color-3{color:#333;}
.color-4{color:#444;}
.color-6{color:#666!important;}
.color-8{color:#888;}
.color-9{color:#999;}
.color-cb{color:#cbcbcb;}
.color-c{color:#ccc!important;}
.color-a{color:#aaa!important;}
.color-info{color: #ec9e41;}
.color-success{color: #638c0b;}
.add{color:#347cdc;}
.nobg{background:none!important;}
.nobgimg{background-image:none!important;}
.color-error{color:#be2530;}
/*clear*/
.clear{clear:both;line-height:0;height:0;font-size:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}
.Icon{display:inline-block;font-size:0;line-height:0;background-repeat:no-repeat;background-size:100%;}
.icon-set{width:40%;height:100%;background:url(../img/ico-set.png);background-size:100% auto;background-repeat: no-repeat;background-position: center;max-width:30px;}
.ico_uesr,.ico_tails{width:13.1%;display:block;margin:0 auto;}
.ico_uesr{background-image: url(../img/ico_1.png);}
.ico_tails{background-image: url(../img/ico_2.png);}
.current .ico_uesr{background-image: url(../img/ico_1h.png);}
.current .ico_tails{background-image: url(../img/ico_2h.png);}
.icon-back{width:22.9%;background-image: url(../img/back.png);vertical-align:middle;}
.ico-clear{width:18px;height:18px;background-image: url(../img/clear.png);position: absolute;right:10px;top:50%;margin-top:-9px;}
.icon-arrow{display:inline-block;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #fff;position: relative;vertical-align:middle;transition:0.2s;-webkit-transition:0.2s;}
.current .icon-arrow{transform: rotate(180deg);transition:0.2s;-webkit-transition:0.2s;}
.circle,.circle i{display:inline-block;width:11px;height:14px;padding:1px;font-size:0;line-height:0;border:1px solid #ccc;border-radius:50%;-webkit-border-radius:50%;text-align: center;}
.circle{position:absolute;right:11px;top:13px;}
.circle i{display:none;width:10px;height:10px;padding:0;border:0;background:#347cdc;position: relative;top:2px;left:1px;transition:0.3s;-webkit-transition:0.3s;}
.current .circle{border:1px solid #347cdc;}
.current .circle i{display: inline-block;transition:0.3s;-webkit-transition:0.3s;}
.ico-new{width:10px;height:15px;background-image: url(../img/new.png);position: absolute;;left:2px;top:0;}
.bill{width:100%;padding:5px 0;line-height:normal;background-size: 100% auto;color:#fff;background-repeat:no-repeat;position:relative;top:11px;font-size:11px;margin-left:-10px;box-shadow:0 0 3px #000;border-radius:2px;-webkit-border-radius:2px;}
.loading{min-width:130px;height:30px;line-height:30px;background:url(../img/mask.png) repeat;position:fixed;left:50%;top:50%;margin:-15px 0 0 -65px;z-index:100;border-radius:4px;-webkit-border-radius:4px;color:#fff;}
.loading img,.refresh img{vertical-align:-3px;margin:0 3px;}
.refresh{margin:-25px 0 5px 0;}
.mask,.maskOver{background-color:#000;opacity:0.5;position:fixed;top:0;left:0;bottom:0;right:0;z-index:50;display:none;}
.maskOver{top:44px;z-index:30;}
.maskOverbg{background:0;opacity:1;overflow:hidden;}
.Btn{display:inline-block;color:#fff;border-radius:4px;text-align: center;}
.Extract{background-color:#ff6e00;border:1px solid #ed6702;line-height:27px;height:27px;padding:0 18px;margin-top:-5px;}
.btn_sure{display:block;background-color:#347cdc;height:48px;line-height:48px;border:1px solid #2d6bbd;}
.btn_veto{background-color:#666;}
.send{display:inline-block;height:35px;line-height:35px;width:90px;}
.no_touch{background-color:#d8d8d8;border-color:#c6c5c5;color:#959595;}
.splash{position:absolute;top:0;left:0;right:0;bottom:0;background: url(../img/wait_bg.jpg) no-repeat;background-size:100% auto;z-index: 100;}
.logo{display: block;width:34%;position:absolute;left:50%;margin-left:-17%;top:30%;}
.logo img{width:100%;}
.company{width:100%;position:absolute;bottom:20px;left:0;right:0;}
.opening{background:#f1f1f1;}

.view{width:100%;height:100%;position:relative;}
.header,.footer{background-color:#1c1e2a;color:#fff;position:fixed;left: 0;right:0;z-index:50;}
.header{height:44px;line-height:44px;top:0;}
.TopL,.TopR,.TopM{width:15%;height:100%;float:left;text-align:center;}
.TopR{float:right;z-index:20;position: relative;}
.TopM{width:70%;float:left;text-align:center;position:relative;}
.TopL em.marl5{position:relative;top:1px;margin-right:-15px;}
.footer{height:49px;bottom:0;color:#4c506b;z-index:20;}
.footer span{display:inline-block;width:50%;float:left;height:41px;padding-top:8px;text-align: center;font-size:10px;}
.footer span.current{background-color:#0e0f15;color:#59a7f9;}
.content{position:absolute;top:44px;bottom:0;left:0;right:0;overflow:hidden;background:#ededed;}
.Income{width:100%;height:170px;color:#fff;background:-webkit-gradient(linear,0 0,100% 100%,from(#57a1f0),to(#3277d3));}
.Income p{line-height:60px;padding-left:20px;}
.Income p.font90{line-height:90px;padding-left:13px;text-shadow:0 0 1px #888;}
.assets .font35{color:#458de2;line-height:35px;margin-left:-3px;}
.assets span.color-a em{padding-left:5px;color:#ff7a15;}
.Income_s{background-color:#f6f6f6;width:100%;height:40px;padding:15px 0;}
.Income_s table{width:100%;}
.Income_s table th{border-right:1px solid #aaa;height:40px;color:#5c636b;}
.Income_s table td,.Income_s table th{width:50%;text-indent:1.6rem;font-size:20px;}
.Income_s table p.font12{color:#999;position: relative;top:-3px;padding-bottom:5px;}
.Chart{margin:0 20px;height:200px;}
.main{padding:0 10px 30px 10px;}
.Ex_list li{display:block;position: relative;min-height:44px;line-height:44px;border:1px solid #c3c3c3;border-radius:4px;-webkit-border-radius:4px;background-color:#fff;margin-top:15px;padding:0 10px;font-size:13px;}
.Ex_list li em{color:#414c8e;padding-right:4px;}
.Ex_int,.Input{height:44px;line-height:normal;border:1px;outline:none;width:60%;color:#888;font-size:13px;appearance:none;-webkit-appearance:none;}
.Input{border:1px solid #c3c3c3;border-radius:3px;width:100%;text-indent:10px;color:#888;background:#fff;}
.no_input{border-color:#ccc;color:#aaa;background:#ddd;}
.list_normal li{margin:-1px 0 0 0;}
.list_normal li:first-child{border-radius:4px 4px 0 0;margin-top:9px;}
.list_normal li:last-child{border-radius:0 0 4px 4px;}
.list_normal li p{padding-left:13px;color:#999;line-height:30px;margin-top:-10px;}
/*弹出*/
.pop{position:absolute;top:50%;margin-top:-50px;left:20px;right:20px;background:#fff;padding:15px;padding-bottom:0;z-index:300;border-radius:3px;box-shadow:0 0 5px #333;overflow: hidden;}
.popIn{position:relative;height:100px;}
.pop_btn{display:block;width:112%;border-top:1px solid #ddd;margin-top:15px;margin-left:-15px;font-size:14px;}
.pop_btn li{display:block;float:left;height:40px;line-height:40px;width:50%;text-align: center;margin-left:-1px;}
.pop_btn li:last-child{border-left:1px solid #ddd;width:50%;font-size:14px;color:#666;margin-left:0;}
.pop_btn li.active{background-color:#347cdc;color:#fff;}
/*下拉功能菜单*/
.navbar{width:100%;height:38px;left:0;top:44px;position:absolute;z-index:35;}
.nav_list{height:28px;padding:5px 4px;background:#ededed;position:relative;z-index:40;}
.nav_list li{float: left;width:32.9%;text-align:center;line-height:28px;color:#007aff;background-color:#fff;background-repeat: no-repeat;background-position: 90% center;background-size:9px;border:1px solid #007aff;border-width:1px 0;}
.nav_list li:nth-child(1){border-left:1px solid #007aff;border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;}
.nav_list li:nth-child(2){border-left:1px solid #007aff;border-right:1px solid #007aff;}
.nav_list li:nth-child(3){border-right:1px solid #007aff;border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;}
.nav_list li.current,.nav_list li.bg{background-color:#007aff;color:#fff;}
.navbar table{width:100%;position: absolute;left:0;transition:0.2s;-webkit-transition:0.2s;top:-90px;z-index:10;}
.navbar table td{border:1px solid #e9e9e9;width:33%;height:45px;color:#333;font-size:13px;text-align: center;background:#fff;}
.navbar.show table{transition:0.2s;-webkit-transition:0.2s;top:39px;}
.navbar table td span{display:block;height:45px;line-height:45px;position: relative;}
.navbar table td span em,.nav_list li em{display: none;width:20px;height:20px;background: url(../img/ico_11.png); background-size:20px;position:absolute;top:-1px;right:-1px;}
.nav_list li em{position:relative;width:10px;height:7px;display:inline-block;background: url(../img/arrow.png); background-size:10px;background-repeat:no-repeat;float:right;margin-right:10px;position:relative;top:12px;}
.navbar table td span.current em,.nav_list li.bg em{display:inline-block;}
.nav_list li.current em{transform:rotate(180deg);transition:0.3s;-webkit-transition:0.3s;top:10px;}
.makesure{background:#347cdc;color:#fff;right:-1px;position:relative;}
/*.navbar table td .Icon{display:block;width:20px;height:25px;margin:5px auto;}
.navbar table td .ico-01{background-image: url(../img/ico_3.png);}
.navbar table td .ico-02{width:24px;background-image: url(../img/ico_4.png);}
.navbar table td .ico-03{width:24px;background-image: url(../img/ico_5.png);}
.navbar table td .ico-04{background-image: url(../img/ico_6.png);}
.navbar table td .ico-05{background-image: url(../img/ico_7.png);}
.navbar table td .ico-06{background-image: url(../img/ico_8.png);}*/
.ico-09,.ico-10{width:40px;height:50px;background-image: url(../img/ico_9.png);background-size:40%;background-position:center center;margin:0 5px;}
.ico-10{background-image: url(../img/ico_10.png);background-size:45%;}
@media screen and (min-width:300px) and (max-width:360px){
	.ico_uesr,.ico_tails,.icon-back{height:18px;}
}
@media screen and (min-width:360px) and (max-width:640px){
	.ico_uesr,.ico_tails,.icon-back{height:22px;}
}
/*明细记录列表*/
.deta_list li{border:1px solid #ccc;border-width:1px 0;margin-top:-1px;background-color:#fff;position:relative;}
.deta_list li .deta_in{height:40px;line-height:20px;padding:5px 20px;background-color:#fff;transition:0.3s;-webkit-transition:0.3s;position: relative;z-index:5;}
.deta_list li .side_btn{width:50px;height:50px;border-bottom:1px solid #ccc;position:absolute;right:0;top:0;border-left:1px solid #d9d9d9;background-color:#4bae46;}
.deta_list li.current .deta_in{margin-right:50px;transition:0.3s;-webkit-transition:0.3s;}
.deta_list li .side_btn .Icon{width:100%;font-size:1.3rem;height:50px;line-height:50px;color:#fff;}
.deta_list li .side_btn .Icon:first-child{background-color:#c2c1c5;}
.plus{color:#53a000;}
.minus{color:#eb6100;}
/*收益明细*/
.Profit{background:#e5e5e5;}
.Profit_list{padding:10px 20px;}
.Profit_list li{display:block;height:30px;line-height:30px;background:#fff;margin:8px 0;}
.Profit_list li .scroll{background-color:#999;height:30px;line-height:30px;min-width:50%;overflow:hidden;transition:0.3s;-webkit-transition:0.3s;}
.Profit_list li .scroll span{display:inline-block;height:30px;line-height:30px;color:#fff;}
.Profit_list li .today{background-color:#347cdc;}
/*回单*/
.receipt_top{color: #999;border-bottom:1px dashed #aaa;padding:15px 20px;background-image: url(../img/seal.png);background-repeat: no-repeat;background-size:29%;background-position:94% center;line-height:25px;}
.receipt_top p span:nth-child(2){padding-left:5px;}
.receipt_mid{margin-left:20px;border-bottom:1px solid #ccc;padding:15px 20px 15px 0;}
.receipt_mid p{padding:1px 0;}
.receipt_mid p:nth-child(2){margin-top:-15px;}
.receipt_bt{height:49px;border-top:1px solid #ccc;background:#e5e5e5;}
.receipt_bt span{width:90px;height:27px;line-height:27px;text-align: center;color:#333;border:1px solid #888;border-radius:3px;padding:0;float: none;margin-right:18px;margin-top:10px;background:#fff;}
.receipt_bt span:last-child{border-color:#229f3d;}
.receipt_top.nobg p span:first-child{display:inline-block;min-width:60px;padding-right:5px;text-align:right;}
.Extract_tab{width:88%;max-width:320px;margin:0 auto;}
.Extract_tab td{padding:5px 0;}
.wait{background-color:#f1f1f1;background-image: url(../img/wait.gif);background-repeat:no-repeat;background-position:center 40%;background-size:60% auto;}
/*手势密码*/
.password_page .header{background-color:#191b26;}
.password_page .content{background:#212332;background:#1e202d;color:#50567a;}
.layout{width:100%;height:100%;}
.layout tr:first-child td{height:30%;}
.layout tr:last-child td{height:10%;}
.use_img{display: inline-block;}
.use_img img{width:38px;height:38px;border:1px solid #35384c;border-radius:50%;}
.password_page .content p{line-height:22px;}
.pass_main{width:110%;height:65%;margin:0 auto;position:fixed;left:50%;top:50%;margin:-35% 0 0 -55%;}
.pass_main .touch_list{position:absolute;top:0;left:0;right:0;bottom:0;}
.pass_main .touch_list table{width:100%;height:100%;}
.pass_main .touch_list td,.touch_list tr:first-child td,.touch_list tr:last-child td{width: 33%;height:33.33%;text-align: center;}
.pass_main .touch_list .point{display:inline-block;width:52px;height:52px;border:2px solid #7e7f88;text-align: center;border-radius:50%;-webkit-border-radius:50%;line-height:52px;position: relative;background:#212332;z-index:10;}
.pass_main .touch_list .point em{width:14px;height:14px;background:#59a7f9;border-radius:50%;-webkit-border-radius:50%;position: absolute;top:50%;left:50%;margin:-7px 0 0 -7px;display:;}
.pass_main .touch_list .point.touched{border-color:#59a7f9;}
.pass_main .touch_list .point.touched em{display:inline-block;}
.pass_line{display:;height:5px;width:45%;left:10%;line-height:0;background:#59a7f9;position: absolute;top:14%;}
.pass_main.touch_error .touch_list .pass_line,.pass_main.touch_error .touch_list .point em{background-color:#be2530;}
.pass_main.touch_error .touch_list .point{border-color:#be2530;}
#line12，#line23{top:15%;}
#line14{transform:rotate(90deg);-webkit-transform:rotate(90deg);top:33%;left:-6%;}
#line15,#line48,#line59{transform:rotate(48deg);-webkit-transform:rotate(48deg);top:34%;left:14%;}
#line23,#line56,#line89{left:40%;}
#line24,#line57,#line68,#line35,#line68{transform:rotate(-50deg);-webkit-transform:rotate(-50deg);top:33%;left:11%;}
#line25,#line47,#line58{transform:rotate(90deg);-webkit-transform:rotate(90deg);top:33%;left:27.5%;}
#line26{transform:rotate(49deg);-webkit-transform:rotate(49deg);top:34%;left:46%;}
#line35,#line68{top:33%;left:44%;}
#line36,#line69{transform:rotate(90deg);-webkit-transform:rotate(90deg);top:33%;left:61%;}
#line45,#line56,#line58,#line69{top:48%;}
#line58,#line69{top:60%;}
#line47{top:60%;left:-6%;}
#line48,#line59,#line57{top:69%;}
#line68,#line57{top:65%;transform:rotate(-46deg);-webkit-transform:rotate(-46deg);}
#line59,#line15,#line26{left:46%;top:67%;transform:rotate(46deg);-webkit-transform:rotate(46deg);}
#line78,#line89{top:81%;}
#line24,#line35{transform:rotate(-43deg);-webkit-transform:rotate(-43deg);}
#line15,#line26{top:34%;}
#line15{left:14%}
#line12,#line45,#line78{left:13%;}
/*通讯录*/
.contaceTab{width:150px;border:2px solid #fff;border-radius:5px;height:27px;margin:0 auto;margin-top:6px;}
.contaceTab dd{display:inline-block;float:left;text-align:center;height:27px;line-height:27px;font-size:13px;width:75px;text-shadow: none;}
.contaceTab dd.current{background-color:#fff;color:#59a7f9;}
.contact{position: absolute;overflow:hidden;left:0;right:0;bottom:0;top:10px;}
.contactBox p.color-6{padding-left:15px;height:20px;line-height:20px;}
.SearchBox{width:100%;height:44px;position:absolute;top:0;right:-100%;width:100%;z-index:20;transition:0.4s;-webkit-transition:0.4s;}
.SearchIn{height:30px;background-color:#dedddd;border-radius:6px;width:80%;position:absolute;top:7px;left:40%;margin-left:-33%;}
.SearchBox input{width:100%;height:100%;line-height:30px;border:0;background:none;color: #969698;text-align: center;font-size:13px;}
.SearchBox.current{right:0;transition:0.4s;-webkit-transition:0.4s;}
.SearchBoxNomal{position:relative;top:10px;right:0;border:0;background:none;z-index:990;}
.SearchBoxNomal .SearchIn{top:0px;width:80%;}
.SearchBox{width:100%;height:44px;position:absolute;top:0;right:0;width:100%;z-index:20;transition:0.4s;-webkit-transition:0.4s;}
.SearchIn{height:30px;background-color:#dedddd;border-radius:6px;width:80%;position:absolute;top:7px;left:40%;margin-left:-33%;}
.SearchBox input{width:100%;height:100%;line-height:30px;border:0;background:none;color: #969698;text-align: center;font-size:13px;}
.SearchBox.current{right:0;transition:0.4s;-webkit-transition:0.4s;}
.SearchBoxNomal{position:relative;top:10px;right:0;border:0;background:none;z-index:990;}
.SearchBoxNomal .SearchIn{top:0px;width:80%;}
ul.contactBox li{border:1px solid #ecebeb;border:1px 0;padding:0 15px;margin-top:-1px;background: #fff;}
ul.contactBox li img{width:34px;height:34px;border-radius:50em;margin:8px 10px 0 0;}
ul.contactBox li div.floatleft p:first-child{color:#555;padding-top:5px;font-size:15px;}
ul.contactBox li div.floatleft p:last-child{color:#888;}
ul.contactBox li div.floatleft p span:first-child{padding-right:10px;}
ul.contactBox li.word-title{background: none;border:0;padding-left: 10px;}
.wordfind{position:absolute;width:15px;top:70px;right:4px;color:#59a7f9;text-align:center;z-index:20;}
.wordfind li{height:14px;line-height:14px;font-size:11px;position: relative;}
.wordfind li em{width:29px;height:24px;background: url(../img/word-bg.png) no-repeat;background-size:29px;text-align:left;text-indent: 8px;line-height:24px;color:#fff;position:absolute;left:-29px;top:50%;margin-top:-13px;font-size:11px;}
.wordfind_main{position:absolute;top:0;width:123px;border-left:1px solid #888;right:-125px;bottom:0;background-color: #fff;z-index:40;-webkit-transition:0.2s;transition:0.2s;}
.wordfind_main span{display: inline-block;width:40px;height:40px;line-height:40px;text-align: center;background-color: #f5f5f5;font-size:18px;color:#666;border:1px solid #aaa;border-width:0 1px 1px 0;margin-left: -0px;float: left;}
.wordfind_main span.active{background-color: #347cdc;color: #fff;-webkit-transition:0.2s;transition:0.2s;}
.showM + .wordfind_main{-webkit-transition:0.2s;transition:0.2s;right:0;}
.word_current{width:36px;height:36px;background:#000;opacity: 0.3;border:1px solid #9a9a9a;border-radius:5px;-webkit-border-radius:5px;position: absolute;top:50%;margin-top:-18px;right:20px;line-height:36px;text-align: center;color: #fff;font-size:16px;}
.word_current img{width:20px;position:relative;top:4px;}
/*设置*/
.set_list li{display:block;margin-top:10px;}
.set_list li .list_in{padding:0 20px;min-height:35px;line-height:35px;color:#333;border:1px solid #ccc;border-width:1px 0;background-color:#fff;background-image:url(../img/arrow2.png); background-size: 10px;background-repeat:no-repeat;background-position:96% center;}
.set_list li .login_out{color: #e63341;}
.waring{color:#eb4451;background: url(../img/Warning.png) no-repeat left 12px;background-size:12px;padding:0 10px 0 18px;}
.set_list li p.title{padding:0 0 5px 20px;}
.set_list_user li .list_in{height:48px;line-height:48px;}
.user_img img{width:30px;height:30px;border-radius:50%;-webkit-border-radius:50%;vertical-align:middle;}
.user{width:98%;margin-top:-2px;}
.list_in .Input{border:none;width:70%;border:none;color:#333;text-indent:0;}
.set_password{border:1px solid #ccc;border-width:1px 0;padding-left:20px;background:#fff;}
.set_password li{margin-top:0;}
.set_password li:nth-child(2){margin-top:0;border-top:1px solid #ccc;}
.set_password li span{display:inline-block;width:60px;}
.set_password li .list_in{border:0;padding-left:0;}

.nodate{width:120px;position:absolute;top:32%;left:50%;margin-left:-60px;}
.nodate img{width:100%;}































