<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>400</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/cash.js"></script>
</head>
<body>
<div class="view">
	<!--header begin-->
	<header class="header clearfix">
		<div class="TopL"><span class="Icon icon-back"></span></div>
		<div class="TopM aligncenter" id="show_nav"><span class="block font16">出错啦</div>
		<div class="TopR"></div>
	</header>
	<!--header over-->
	<!--content begin-->
	<div class="content">
		<div class="error aligncenter">
			<p><img src="../img/400.png"></p>
			<p class="font14 color-8">哎呀，您访问的页面出故障了...</p>
		</div>
	</div>
	<!--content over-->
</div>
</body>
</html>
