<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">  
		body{padding:0px;margin:0px;font-size:12px;overflow:hidden;background:#000;}  
		#container div{padding:10px;position:absolute;border:0px dotted brown;width:0px;color:#FF0000;cursor:pointer;}  
		.text{padding:10px;color:#ccc;}  
		</style>  
		<script type="text/javascript" src="http://www.cozof.com/images/js/jquery.min.1.5.js"></script> 
		<script type="text/javascript">  
			var goldFallInterval;  
			var goldFallStart=0;  
			function initGoldFall(){  
			    var length = $('div','#container').length;  
			      
			    if(length<4){  
			        for(i=0;i<6;i++){  
			         $('div','#container').clone().prependTo('#container');  
			        }  
			    }  
			      
			}  
			function startGoldFall(){  
			    clearInterval(goldFallInterval);  
			    endCount = 0;  
			    range();  
			    goldFallStart = new Date().getTime();  
			    goldFallInterval= setInterval(dropGoldFall,200);  
			}  
			  
			//排列  
			function range()  
			{  
			 var num = 1;  
			 $('div','#container').each(function(i)  
			 {  
			  var ww = $(window).width();//窗口宽度  
			  var wh = $(window).height();  
			  
			  var ot = -20;//从头部以上开始  
			  
			  $(this).css({"left":(i*(ww/64)) +"px","top":"-50px"});//距左距离保持，距上距离变化  
			  num ++;  
			 });  
			}  
			  
			//降落  
			function dropGoldFall()  
			{  
			    var now =  new Date().getTime();  
			    if(now - goldFallStart >3000){  
			          
			        clearInterval(goldFallInterval);  
			    }  
			 var $objs =  $('div','#container');  
			 $objs.each(function(i)  
			 {  
			  var wh   = $(window).height();  
			  var ol   = $(this).offset().left;  
			  var ot   = $(this).offset().top;  
			  var rnd  = Math.round(Math.random()*100);  
			  var rnd2 = Math.round(Math.random()*50);  
			 //降落的速度  
			  if(ot<=wh)//如果掉到窗口以下  
			  {      
			    $(this).css({"top":(ot+rnd+rnd2) +"px"});  
			  }  
			 });  
			}  
			  
			  
			function fn(){  
			    initGoldFall();  
			    startGoldFall();  
			}  
		</script>  
	</head>
	<body>
		<div id="container">
			<audio controls="controls" >
				<source src="../img/2.mp3"type="audio/mp3"/>
			< /audio>
			<div><img src="../img/gold.png"></div>  
		</div>
		<input type=button onclick="fn();" value=test>  
	</body>
</html>
