<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>企业理财</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="js/update.js" ></script>
	<script type="text/javascript" src="../js/cash.js"></script>
</head>
	<body>
		<div class="view">
		<!--header begin-->
		<header class="header clearfix">
			<div class="TopL"><span class="icon-arrow-left"></span></div>
			<div class="TopM aligncenter"><span class="block font16">全部</span></div>
			<div class="TopR"></div>
		</header>
		<!--header over-->
			<div class="content" style="background:#f8f6f7;">
				<!--搜索框begin-->
				<div class="SearchBox user_search">
					<div class="SearchIn">
						<input type="text" placeholder="搜索"/>
					</div>
				</div>
				<!--搜索框over-->
				<div class="contact showM" id="wrapper" style="top:45px;">
					<div id="scroller">
						<ul class="contactBox">
							<li class="word-title"><p class="color-6">A</p></li>
							<li class="clearfix choosed">
								<span class="block floatleft"><img src="../img/cdm.jpg"></span>
								<div class="floatleft">
									<p>刘德华</p>
									<p><span>明道产品部</span><span>产品经理</span></p>
								</div>
							</li>
							<li class="clearfix">
								<span class="block floatleft"><img src="../img/cdm.jpg"></span>
								<div class="floatleft">
									<p>刘德华</p>
									<p><span>明道产品部</span><span>产品经理</span></p>
								</div>
							</li>
							<li class="clearfix">
								<span class="block floatleft"><img src="../img/cdm.jpg"></span>
								<div class="floatleft">
									<p>刘德华</p>
									<p><span>明道产品部</span><span>产品经理</span></p>
								</div>
							</li>
							<li class="word-title"><p class="color-6">B</p></li>
							<li class="clearfix choosed">
								<span class="block floatleft"><img src="../img/cdm.jpg"></span>
								<div class="floatleft">
									<p>刘德华</p>
									<p><span>明道产品部</span><span>产品经理</span></p>
								</div>
							</li>
							<li class="clearfix">
								<span class="block floatleft"><img src="../img/cdm.jpg"></span>
								<div class="floatleft">
									<p>刘德华</p>
									<p><span>明道产品部</span><span>产品经理</span></p>
								</div>
							</li>
							<li class="clearfix">
								<span class="block floatleft"><img src="../img/cdm.jpg"></span>
								<div class="floatleft">
									<p>刘德华</p>
									<p><span>明道产品部</span><span>产品经理</span></p>
								</div>
							</li>
							<li class="word-title"><p class="color-6">C</p></li>
							<li class="clearfix choosed">
								<span class="block floatleft"><img src="../img/cdm.jpg"></span>
								<div class="floatleft">
									<p>刘德华</p>
									<p><span>明道产品部</span><span>产品经理</span></p>
								</div>
							</li>
							<li class="clearfix">
								<span class="block floatleft"><img src="../img/cdm.jpg"></span>
								<div class="floatleft">
									<p>刘德华</p>
									<p><span>明道产品部</span><span>产品经理</span></p>
								</div>
							</li>
							<li class="clearfix">
								<span class="block floatleft"><img src="../img/cdm.jpg"></span>
								<div class="floatleft">
									<p>刘德华</p>
									<p><span>明道产品部</span><span>产品经理</span></p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!--字母begin-->
				<div class="wordfind_main" style="display:none;">
					<span class="active">A</span>
					<span>B</span>
					<span>C</span>
					<span>D</span>
					<span>E</span>
					<span>F</span>
					<span>G</span>
					<span>H</span>
					<span>I</span>
					<span>J</span>
					<span>K</span>
					<span>L</span>
					<span>M</span>
					<span>N</span>
					<span>O</span>
					<span>P</span>
					<span>Q</span>
					<span>R</span>
					<span>S</span>
					<span>T</span>
					<span>U</span>
					<span>V</span>
					<span>W</span>
					<span>X</span>
					<span>Y</span>
					<span>Z</span>
				</div>
				<!--字母over-->
				<ul class="wordfind">
					<li><i class="BtnIcon Icon-find"></i></li>
					<li>A</li>
					<li>B</li>
					<li>C</li>
					<li>D</li>
					<li>F</li>
					<li>G</li>
					<li>H</li>
					<li>I</li>
					<li>J</li>
					<li>K<em>K</em></li>
					<li>L</li>
					<li>M</li>
					<li>N</li>
					<li>P</li>
					<li>Q</li>
					<li>R</li>
					<li>S</li>
					<li>T</li>
					<li>W</li>
					<li>X</li>
					<li>Y</li>
					<li>Z</li>
				</ul>
				<!--当前字母begin-->
				<span class="block word_current" style="display: none;">A</span>
				<span class="block word_current key"><img src="../img/key.png"></span>
				<!--当前字母begin-->
			</div>
		</div>
	</body>
</html>
