<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>企业理财</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="js/update.js" ></script>
	<script type="text/javascript" src="../js/cash.js"></script>
</head>
<body>
<div class="view">
	<!--未注册尚不能登录begin-->
	<div class="splash opening" style="display:none;">
		<div class="nodate">
			<p><img src="../img/noreg.png"></p>
			<p class="aligncenter color-3">您的企业尚未注册</p>
			<p class="aligncenter color-3">尚不能登录</p>
		</div>
	</div>
	<!--未注册尚不能登录over-->
	<!--开户中尚不能登录begin-->
	<div class="splash opening" style="display:none;">
		<div class="nodate">
			<p><img src="../img/opening.gif"></p>
		</div>
	</div>
	<!--开户中尚不能登录over-->
	<!--启动页begin-->
	<div class="splash" style="display:none;">
		<span class="logo"><img src="../img/logo.png"></span>
		<span class="company color-8 aligncenter">上海万企明道软件有限公司</span>
	</div>
	<!--启动页over-->
	<!--header begin-->
	<header class="header clearfix">
		<div class="TopL"><span class="Icon icon-set"></span></div>
		<div class="TopM aligncenter"><span class="block font16">企业理财 </span></div>
		<div class="TopR"><span class="block bill">账单</span></div>
	</header>
	<!--header over-->
	<!--content begin-->
	<div class="content" id="wrapper">
		<div id="scroller">
			<section class="Income">
				<p class="font14">昨日收益（元）</p>
				<p class="font90">32.88</p>
			</section>
			<section class="assets mart20 marl20 marr20">
				<p class="alignright clearfix">
					<span class="font14 floatleft">账户总资产（元）</span>
					<span class="Btn Extract font14" id="Extract" onclick="clicked('Extract.html')">提 现</span>
				</p>
				<p class="font35 mart15">5,791,200.34</p>
			</section>
			<section class="Income_s mart20">
				<table>
					<tr>
						<th>
							<p class="font12">日每万份收益（元）</p>
							<p>1.10590</p>
						</th>
						<td>
							<p class="font12">累计收益（元）</p>
							<p>249.38</p>
						</td>
					</tr>
				</table>
			</section>
			<section class="assets mart20 marl20 marr20">
				<p class="alignright clearfix">
					<span class="font14 floatleft color-6">账户收益（元）</span>
					<span class="font12 color-a">七日年化收益率<em>4.121%</em></span>
				</p>
			</section>
			<div class="Chart">
				<img src="../img/1.jpg" width="100%"/>
			</div>
		</div>
	</div>
	<!--content over-->
	<!--footer begin-->
	<footer class="footer clearfix" style="display: none;">
		<span class="current">
			<i class="Icon ico_uesr"></i>
			<em>我的账户</em>
		</span>
		<span>
			<i class="Icon ico_tails"></i>
			<em>资金明细</em>
		</span>
	</footer>
	<!--footer over-->
</div>
<!--加载等待begin-->
<div class="loading aligncenter"><img src="../img/loading.gif" />加载中，请稍后...</div>
<!--加载等待over-->
<div class="mask maskOverbg" style="opacity:0.5;display:none;"></div><!--maskOverbg是全透明的-->
<div class="maskOver" style="display:none;"></div><!--最上层的放置点击遮罩层-->
</body>
</html>















