<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>资金明细</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/cash.js"></script>
</head>
<body>
<div class="view">
	<!--header begin-->
	<header class="header clearfix">
		<div class="TopL"><span class="Icon icon-back"></span></div>
		<div class="TopM aligncenter" id="show_nav"><span class="block font16">公司账单</div>
		<div class="TopR"></div>
	</header>
	<!--header over-->
	<!--检索菜单begin-->
	<section class="navbar "><!--显示下拉菜单加show-->
		<ul class="nav_list">
			<li class="bg">全部<em></em></li>
			<li>进行中<em></em></li>
			<li>未完成<em></em></li>
		</ul>
		<table>
			<tr>
				<td>
					<span>全部<em></em></span>
				</td>
				<td>
					<span class="current">充值<em></em></span>
				</td>
				<td>
					<span>提现<em></em></span>
				</td>
			</tr>
			<tr>
				<td>
					<span>购买<em></em></span>
				</td>
				<td>
					<span>收益<em></em></span>
				</td>
				<td>
					<span class="makesure">确定选择</span>
				</td>
			</tr>
		</table>
	</section>
	<!--检索菜单over-->
	<!--content begin-->
	<!--无记录begin-->
	<div class="nodate" style="display: none;">
		<p class="aligncenter"><img src="../img/nodate-img.png"></p>
		<p class="color-3 aligncenter font14">当前无账单记录</p>
	</div>
	<!--无记录over-->
	<div class="content" id="wrapper" style="top:83px;">
		<div id="scroller">
			<div class="refresh aligncenter"><img src="../img/loading.gif" />下拉刷新...</div>
			<ul class="deta_list">
				<li class="current">
					<div class="deta_in">
						<p class="color-6 font18">收益</p>
						<p class="font18 alignright">
							<span class="font12 color-a floatleft">2014-10-01</span>
							<span class="plus">+1,000,00</span>
						</p>
					</div>
					<div class="side_btn aligncenter">
						<i class="Icon" title="撤销">撤回</i>
					</div>
				</li>
				<li>
					<div class="deta_in">
						<i class="Icon ico-new"></i>
						<p class="color-6 font18 alignright">
							<span class="floatleft">充值</span>
							<span class="font12">处理中</span>
						</p>
						<p class="font18 alignright">
							<span class="font12 color-a floatleft">2014-10-01</span>
							<span class="minus">-1,000,00</span>
						</p>
					</div>
				</li>
				<li>
					<div class="deta_in">
						<i class="Icon ico-new"></i>
						<p class="color-6 font18">充值</p>
						<p class="font18 alignright">
							<span class="font12 color-a floatleft">2014-10-01</span>
							<span>+1,000,00</span>
						</p>
					</div>
				</li>
				<li>
					<div class="deta_in">
						<i class="Icon ico-new"></i>
						<p class="color-6 font18">充值</p>
						<p class="font18 alignright">
							<span class="font12 color-a floatleft">2014-10-01</span>
							<span>+1,000,00</span>
						</p>
					</div>
				</li>
				<li>
					<div class="deta_in">
						<i class="Icon ico-new"></i>
						<p class="color-6 font18">充值</p>
						<p class="font18 alignright">
							<span class="font12 color-a floatleft">2014-10-01</span>
							<span>+1,000,00</span>
						</p>
					</div>
				</li>
				<li>
					<div class="deta_in">
						<p class="color-6 font18">购买 - 明道25人包</p>
						<p class="font18 alignright">
							<span class="font12 color-a floatleft">2014-10-01</span>
							<span>+1,000,00</span>
						</p>
					</div>
				</li>
				<li>
					<div class="deta_in">
						<p class="color-6 font18">购买 - 明道25人包</p>
						<p class="font18 alignright">
							<span class="font12 color-a floatleft">2014-10-01</span>
							<span>+1,000,00</span>
						</p>
					</div>
				</li>
				<li>
					<div class="deta_in">
						<p class="color-6 font18">购买 - 明道25人包</p>
						<p class="font18 alignright">
							<span class="font12 color-a floatleft">2014-10-01</span>
							<span>+1,000,00</span>
						</p>
					</div>
				</li>
				<li>
					<div class="deta_in">
						<p class="color-6 font18">购买 - 明道25人包</p>
						<p class="font18 alignright">
							<span class="font12 color-a floatleft">2014-10-01</span>
							<span>+1,000,00</span>
						</p>
					</div>
				</li>
				<li>
					<div class="deta_in">
						<p class="color-6 font18">购买 - 明道25人包</p>
						<p class="font18 alignright">
							<span class="font12 color-a floatleft">2014-10-01</span>
							<span>+1,000,00</span>
						</p>
					</div>
				</li>
			</ul>
			<div class="aligncenter mart10 add">点击加载更多</div>
		</div>
	</div>
	<!--content over-->
	<!--footer begin-->
	<footer class="footer clearfix" style="display: none;">
		<span>
			<i class="Icon ico_uesr"></i>
			<em>我的账户</em>
		</span>
		<span class="current">
			<i class="Icon ico_tails"></i>
			<em>资金明细</em>
		</span>
	</footer>
	<!--footer over-->
</div>
<div class="mask" style="opacity:0.5;display:none;"></div>
<div class="maskOver" style="display:none;"></div><!--露出header的遮罩层-->
<!--撤销交易弹出begin-->
<div class="pop" style="display:none;">
	<div class="popIn">
		<p class="p-top20 p-bt20 aligncenter font14 color-3">您确定要撤销当前交易？</p>
		<ul class="pop_btn clearfix">
			<li>取消</li>
			<li class="active">确定</li>
		</ul>
	</div>
</div>
<!--撤销交易弹出over-->	
</body>
</html>
