<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>手势密码</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/cash.js"></script>
</head>
<body>
<div class="view password_page">
	<!--content begin-->
	<div class="content" style="top:0;">
		<table class="layout">
			<tr>
				<td class="aligncenter">
					<span class="use_img"><img src="../img/1.png"></span>
					<p class="color-white">行走江湖</p>
					<p class="font14">再次绘制解锁图案</p>
					<p class="font14 color-error" style="display:none;">密码错误，您还有3次输入机会</p>
				</td>
			</tr>
			<tr>
				<td>
					<div class="pass_main"><!--错误加 touch_error-->
						<div class="touch_list">
							<table>
								<tr>
									<td><span class="point touched" title="1"><em></em></span></td>
									<td><span class="point" title="2"><em></em></span></td>
									<td><span class="point" title="3"><em></em></span></td>
								</tr>
								<tr>
									<td><span class="point" title="4"><em></em></span></td>
									<td><span class="point" title="5"><em></em></span></td>
									<td><span class="point" title="6"><em></em></span></td>
								</tr>
								<tr>
									<td><span class="point" title="7"><em></em></span></td>
									<td><span class="point" title="8"><em></em></span></td>
									<td><span class="point" title="9"><em></em></span></td>
								</tr>
							</table>
						</div>
						<div class="touch_list">
							<span class="pass_line" id="line12" style="display:block;"></span>
							<span class="pass_line" id="line14"></span>
							<span class="pass_line" id="line15"></span>
							<span class="pass_line" id="line23"></span>
							<span class="pass_line" id="line24"></span>
							<span class="pass_line" id="line25"></span>
							<span class="pass_line" id="line26"></span>
							<span class="pass_line" id="line35"></span>
							<span class="pass_line" id="line36"></span>
							<span class="pass_line" id="line45"></span>
							<span class="pass_line" id="line47"></span>
							<span class="pass_line" id="line48"></span>
							<span class="pass_line" id="line56"></span>
							<span class="pass_line" id="line57"></span>
							<span class="pass_line" id="line58"></span>
							<span class="pass_line" id="line59"></span>
							<span class="pass_line" id="line68"></span>
							<span class="pass_line" id="line69"></span>
							<span class="pass_line" id="line78"></span>
							<span class="pass_line" id="line89"></span>
						</div>
					</div>
				</td>
			</tr>
			<tr><td class="aligncenter"><span>忘记手势密码？</span></td></tr>
		</table>
	</div>
	<!--content over-->
</div>
</body>
</html>