<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>企业理财</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="js/update.js" ></script>
	<script type="text/javascript" src="../js/cash.js"></script>
</head>
<body>
<div class="view">
	<!--header begin-->
	<header class="header clearfix">
		<div class="TopL"><span class="Icon icon-back"></span></div>
		<div class="TopM aligncenter"><span class="block font16">企业理财收益 </span></div>
		<div class="TopR"></div>
	</header>
	<!--header over-->
	<!--content begin-->
	<div class="content Profit" id="wrapper">
		<div id="scroller">
			<ul class="Profit_list">
				<li>
					<div class="scroll alignright clearfix today" style="width:95%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:75%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:65%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:55%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:75%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:65%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:55%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:75%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:65%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:55%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:75%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:65%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:55%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:75%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:65%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:55%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:75%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:65%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:55%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:75%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:65%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
				<li>
					<div class="scroll alignright clearfix" style="width:55%;">
						<span class="floatleft marl10">2014-11-10</span>
						<span class="marr10">+10.58</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--content over-->
</div>
<div class="mask" style="opacity:0.5;display:none;"></div>
<div class="maskOver" style="display:none;"></div><!--最上层的放置点击遮罩层-->
</body>
</html>















