<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>权限设置</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/cash.js"></script>
</head>
<body>
<div class="view">
	<!--header begin-->
	<header class="header clearfix">
		<div class="TopL"><span class="Icon icon-back"></span><em class="font12 marl5">设置</em></div>
		<div class="TopM aligncenter" id="show_nav"><span class="block font16">管理权限</div>
		<div class="TopR"></div>
	</header>
	<!--header over-->
	<!--content begin-->
	<div class="content">
		<ul class="set_list set_list_user mart15">
			<li>
				<p class="title color-6">管理员</p>
				<div class="list_in">
					<span style="display: none;">请选择管理员</span>
					<div class="user txt_hidden">
						<span class="user_img"><img src="../img/1.png"></span>
						<span class="marl5">刘德华</span>
						<span class="color-8">明道产品部  产产品经理产品经理产品经理品经理</span>
					</div>
				</div>
			</li>
			<li>
				<p class="title color-6">复核人</p>
				<div class="list_in">请选择复核人</div>
			</li>
			<li>
				<p class="title color-6">经办人</p>
				<div class="list_in">请选择经办人</div>
			</li>
		</ul>
		<p class="p-top80"><span class="Btn btn_sure font15 mart15 marl20 marr20">提&nbsp;&nbsp;&nbsp;交</span></p>
	</div>
	<!--content over-->
</div>
<div class="mask" style="display:none;"></div>
</body>
</html>
