<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>限额设置</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/cash.js"></script>
</head>
<body>
<div class="view">
	<!--header begin-->
	<header class="header clearfix">
		<div class="TopL"><span class="Icon icon-back"></span><em class="font12 marl5">设置</em></div>
		<div class="TopM aligncenter" id="show_nav"><span class="block font16">管理权限</div>
		<div class="TopR"></div>
	</header>
	<!--header over-->
	<!--content begin-->
	<div class="content">
		<ul class="set_list set_password mart15">
			<li>
				<div class="list_in clearfix nobgimg">
					<span class="color-3">密码</span>
					<input type="password"class="Input" placeholder="请设置支付密码"/>
				</div>
			</li>
			<li>
				<div class="list_in clearfix nobgimg">
					<span class="color-3">确认密码</span>
					<input type="password"class="Input" placeholder="再次输入支付密码"/>
				</div>
			</li>
		</ul>
		<div class="clearfix">
			<table class="mart10 Extract_tab marr10 floatright">
			<tr>
				<td>
					<input type="number" class="Input font14" placeholder="请输入短息验证码">
				</td>
				<td class="alignright">
					<span class="Btn btn_sure marl20 send">确认发送</span>
					<span class="Btn btn_sure send marl20 no_touch" style="display:none;">60秒后可重发</span>
				</td>
			</tr>
			<tr>
				<th colspan="2" class="color-a"><span class="block">我们已向您发送短信验证码，请耐心等候。</span></th>
			</tr>
		</table>
		</div>
		<p class="p-top80"><span class="Btn btn_sure font15 mart15 marl20 marr20">提&nbsp;&nbsp;&nbsp;交</span></p>
	</div>
	<!--content over-->
</div>
<div class="mask" style="display:none;"></div>
</body>
</html>
