<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="misapplication-tap-highlight" content="no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<title>main</title>
		<link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../js/sea.js"></script>
		<script type="text/javascript" src="../js/json2.js"></script>
		<script>
			seajs.config({
				base: "../js/modules/"
			});
			seajs.use('view/timeout');
		</script>
	</head>

	<body>
		<div class="view login">
			<table class="logintab load" width="100%">
				<tr>
					<td class="aligncenter p-top50"><span><img src="../img/logo.png" width="100" class="p-top20"></span></td>
				</tr>
				<tr><td class="aligncenter p-top80" style="color:#6a6363;">上海万企明道软件有限公司</td></tr>
			</table>
		</div>
	</body>
</html>
